google_api_python_client==2.121.0
instaloader==4.10.3
matplotlib==3.8.0
numpy==1.26.4
pandas==2.2.2
plotly==5.20.0
pygwalker==0.4.8.9
Requests==2.32.3
streamlit==1.31.1
streamlit_option_menu==0.3.13
wordcloud==1.9.3
linkedin-api==2.1.1

