google_api_python_client==2.121.0
instaloader==4.11
linkedin_api==2.1.1
matplotlib==3.8.0
numpy==2.1.0
pandas==2.2.2
plotly==5.20.0
pygwalker==0.4.9.8
Requests==2.32.3
scikit_learn==1.5.1
streamlit==1.31.1
streamlit_option_menu==0.3.13
wordcloud==1.9.3
